@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3d5c81;
  text-decoration: inherit;
}
a:hover {
  color: #3d5c81;
}
